/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

* {
margin: 0;
padding: 0;
}





/* -------NAV BAR-------- */
 .MuiAppBar-colorPrimary {
     color: #fe5f55 !important;
     background-color: #efefef !important;
 }
 .MuiInputBase-input {
     background: #fff !important;
     border-radius: 20px !important;
 }

 .nav-link{
    text-transform: uppercase;
    text-decoration: none;
    font-size: large;
    font-weight: bold;
    color: #fe5f55;
    padding: 10px;
 }
 /* ------HOME ---------*/
 .container{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  margin: 75px;
  padding: 70px;
  text-align: center;

  img{
    width: 50vw;
  }

  h3 {
    padding: 80px;
  }
 }


/* ------ABOUT----------- */
.page-body{
  text-align: center;
  padding: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.p-body{
  text-align: left;
  display: flex;
  flex-direction: column;
  align-items: center;

  h3{
    text-align: center;
    padding: 30px;
  }

.container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  padding: 30px;

  .blurb{
    width: 120px;
    height: 150px;
    border-radius: 50px;
    border-radius: 1px solid lightgreen;
    margin: 30px;
    position: relative;
    
    img{
      width: 100%;
      height: 100%;
      border-radius: 75px;
      display: flex;
      align-items: center;
      justify-content: center;
      object-fit: cover;
    }

    h5{
      font-size: large;
      display: flex;
      align-items: center;
      justify-content: center;
    }
    
    p{
      text-align: center;
      font-size: 14px;
      display: flex;
      align-items: center;
      justify-content: center;
    }

  }
  .section {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    padding: 30px;
    margin: 30px;

    p{
      padding-bottom: 15px;
    }

    .accordion {
      padding-top: 50px !important;
    }
  }
}
}


 /* -------FOOTER--------- */
 footer {
  font-size: 15px;
  position:fixed;
  bottom: 0;
  width: 100%;
  background-color: #fe5f55 !important;
  display: flex;
  justify-content: space-around;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  padding-left: 1rem;
  padding-right: 1rem;
}
/* --------DEVISE--------- */
.MuiButton-contained{
  background-color: #fe5f55 !important;
  color: white !important;
}
.MuiRadio-colorSecondary.Mui-checked{
  color: #fe5f55 !important;
}
.MuiInputBase-root{
  background-color: #efefef !important;
}
.MuiFormLabel-root{
  color: black !important;
}