/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

* {
margin: 0;
padding: 0;
}

/* -------NAV BAR-------- */
 .MuiAppBar-colorPrimary {
     color: #fe5f55 !important;
     background-color: #efefef !important;
 }
 .MuiInputBase-input {
     background: #fff !important;
     border-radius: 20px !important;
 }

 .nav-link{
    text-transform: uppercase;
    text-decoration: none;
    font-size: large;
    font-weight: bold;
    color: #fe5f55;
    padding: 20px;
    border-right: #bcbcbc;
    border-width: 2px;

    &:hover {
      background-color: #117a8c;
      color: white;   
    }

    &:active {
      background-color: #fe5f55;
      color: white; 
    }
  }
 

 /* ------HOME ---------*/
 .homeContainer{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  margin: 75px;
  padding: 70px;
  text-align: center;

  img{
    width: 50vw;
  }

  h3 {
    padding: 80px;
  }
 }

 /* ------LOGO ANIMATION ------ */
 .logoContainer {
  padding-top: 20px;
  width: 80vw;
  position: relative;
  display: flex;
  justify-content: center;
 }
 
.boopd-desktop {
  display: grid inline-grid;
  position: relative;
  width: 500px;

  .iconContainer{
    position: absolute;
    top: -1vh;
    right: 122px;
    display: inline-block;

    .icon{
      width: 45px;
      animation: spin .25s 2s linear 3;
    }
  }
  img {
    width: 70px;
    padding: 0;
  }

  .o {
    animation: bounce 1.5s .2s ease 1;
  }

  .o2 {
    animation: bounce2 1.5s .7s ease 1;
    }
 
}

/* ------ABOUT----------- */

.page-body{
  text-align: center;
  padding: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.p-body{
  text-align: left;
  display: flex;
  flex-direction: column;
  align-items: center;

  h3{
    text-align: center;
    padding: 30px;
  }

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  padding: 30px;

  .blurb{
    width: 120px;
    height: 150px;
    border-radius: 50px;
    border-radius: 1px solid lightgreen;
    margin: 30px;
    position: relative;
    
    img{
      width: 100%;
      height: 100%;
      margin-bottom: 20px;
      border-radius: 100px;
      display: flex;
      align-items: center;
      justify-content: center;
      object-fit: cover;
    }

    h5{
      font-size: large;
      display: flex;
      align-items: center;
      justify-content: center;
    }
    
    p{
      text-align: center;
      font-size: 14px;
      display: flex;
      align-items: center;
      justify-content: center;
    }

  }
  .section {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    padding: 30px;
    margin: 30px;

    p{
      padding-bottom: 15px;
    }

    .accordion {
      padding-top: 50px !important;
    }
  }
}
}


 /* -------FOOTER--------- */
 footer {
  font-size: 15px;
  position:fixed;
  bottom: 0;
  width: 100%;
  background-color: #fe5f55 !important;
  display: flex;
  justify-content: space-around;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  padding-left: 1rem;
  padding-right: 1rem;

  .footer-link{
    color:white;
    text-decoration: none;
    font-weight: bold;  
  }
}


/* --------DEVISE--------- */
.MuiButton-contained{
  background-color: #fe5f55 !important;
  color: white !important;
}
.MuiRadio-colorSecondary.Mui-checked{
  color: #fe5f55 !important;
}
.MuiInputBase-root{
  background-color: #efefef !important;
}
.MuiFormLabel-root{
  color: black !important;
}

/* ----ANIMATIONS ----- */

@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {transform: translateY(0);}
    40% {transform: translateY(-20px);}
    60% {transform: translateY(-25px);}
}

@keyframes bounce2 {
  0%, 20%, 50%, 80%, 100% {transform: translateY(0);}
    40% {transform: translateY(-30px);}
    60% {transform: translateY(-15px);}
}

@keyframes spin {
  0% {
    transform: rotateY(0);
  }
  100% {
    transform: rotateY(360deg);
  }
}