/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */


@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Rokkitt:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
margin: 0;
padding: 0;
}

/* -------NAV BAR-------- */
 .MuiAppBar-colorPrimary {
     color: #fe5f55 !important;
     background-color: #efefef !important;
 }
 .MuiInputBase-input {
     background: #fff !important;
     border-radius: 20px !important;
 }

 .nav-link{
    text-transform: uppercase;
    text-decoration: none;
    font-size: large;
    font-weight: 900;
    color: #fe5f55;
    padding: 20px;
    border-right: #bcbcbc;
    border-width: 2px;
    font-family: 'Roboto', sans-serif;
    font-kerning: auto;
    font-size: small;
    letter-spacing: .2em;
    
    

    &:hover {
      background-color: #117a8c;
      color: white;   
    }

    &:active {
      background-color: #fe5f55;
      color: white; 
    }
  }
 
  /* ------FORMS--------*/
 

 /* ------HOME ---------*/
 .homeContainer{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  padding-top: 150px;
  text-align: center;

  img{
    width: 50vw;
  }

  h1 {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 40px;
  
  }

  h3 {
    padding-top: 25px;
    width: 60vw;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
  }
 }

 .homeContainer-mobile{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  padding-top: 70px;
  

  img{
    width: 50vw;
  }

  h3 {
    padding-top: 25px;
    width: 60vw;
    font-family: 'Rokkitt', serif;
  }
 }

 /* ------LOGO ANIMATION ------ */

    /*-----@mobile-----*/
#boopd-desktop {display: block;}
#boopd-mobile {display: none;}

@media screen and (max-width: 768px) {

#boopd-desktop {display: none;}
#boopd-mobile {display: block;}

}

 .logoContainer {
  padding-top: 20px;
  width: 100vw;
  position: relative;
  display: flex;
  justify-content: center;
 }
 
.boopd-mobile {
  animation: spin 2s ease 1;

  .bicon{
    width: 30vw;
  }
}

.boopd-desktop {
  display: grid inline-grid;
  position: relative;
  width: 500px;

  .iconContainer{
    position: absolute;
    top: -2vh;
    right: 67px;
    display: inline-block;

    .icon{
      width: 65px;
      animation: spin .25s 2s linear 3;
    }
  }
  img {
    width: 100px;
    padding: 0;
  }

  .o {
    animation: bounce 1.5s .2s ease 1;
  }

  .o2 {
    animation: bounce2 1.5s .7s ease 1;
    }
 
}
/*------- INDEX ------- */
.index-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: 'Roboto', sans-serif;
}

.MuiCard-root {
  margin-top: 50px;
  width: 100%;
}

.MuiButton-root {
  background-color: #fe5f55 !important;
  color: white !important;
  align-self: right;
}

/* ------ABOUT----------- */

.page-body{
  text-align: center;
  padding: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: 'Roboto', sans-serif;
}

.p-body{
  text-align: left;
  display: flex;
  flex-direction: column;
  align-items: center;

  h3{
    text-align: center;
    padding-top: 50px;
    padding-bottom: 20px;
    font-size: 40px;
    font-weight: 600;
    letter-spacing: .1em;
  }

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  padding: 30px;
  margin-top: 30px;

  .blurb{
    width: 150px;
    height: 150px;
    border-radius: 50px;
    border-radius: 1px solid lightgreen;
    margin: 30px;
    position: relative;
    transition: all 1s ease;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    &:hover{
      transform: scale(1.1);
    }
    
    img{
      width: 100%;
      height: 100%;
      margin-bottom: 20px;
      border-radius: 100px;
      display: flex;
      align-items: center;
      justify-content: center;
      object-fit: cover;

      
      
    }

    h5{
      font-size: large;
      display: flex;
      align-items: center;
      justify-content: center;
    }
    
    p{
      text-align: center;
      font-size: 14px;
      display: flex;
      align-items: center;
      justify-content: center;
    }

    

  }
  
  button{
    background-color: #fe5f55;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    margin-top: 10px;
  }

  .section {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    padding: 30px;
    margin: 30px;

    p{
      padding-bottom: 15px;
    }

    .accordion {
      padding-top: 50px !important;
    }
  }
}
}


 /* -------FOOTER--------- */
 footer {
  font-size: 15px;
  font-family: 'Roboto', sans-serif;
  position:fixed;
  bottom: 0;
  width: 100%;
  background-color: #fe5f55 !important;
  display: flex;
  justify-content: space-around;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  padding-left: 1rem;
  padding-right: 1rem;

  .footer-link{
    color:white;
    text-decoration: none;
    font-weight: bold;  
    letter-spacing: .05em;
  }
}


/* --------DEVISE--------- */
.MuiButton-contained{
  background-color: #fe5f55 !important;
  color: white !important;
}
.MuiRadio-colorSecondary.Mui-checked{
  color: #fe5f55 !important;
}
.MuiInputBase-root{
  background-color: #efefef !important;
}
.MuiFormLabel-root{
  color: black !important;
}

/*------INPUT--------*/

.MuiInputBase-root {
  background-color: white !important;
}
.MuiInputBase-input {
  padding: 0px;
  border-radius: 0px !important;
}
.MuiOutlinedInput-input {
  padding: 5px;
}

/* ----ANIMATIONS ----- */

@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {transform: translateY(0);}
    40% {transform: translateY(-20px);}
    60% {transform: translateY(-25px);}
}

@keyframes bounce2 {
  0%, 20%, 50%, 80%, 100% {transform: translateY(0);}
    40% {transform: translateY(-30px);}
    60% {transform: translateY(-15px);}
}

@keyframes spin {
  0% {
    transform: rotateY(0);
  }
  100% {
    transform: rotateY(360deg);
  }
}

@keyframes zoom-in-zoom-out {
  0% {
  transform: scale(1, 1);
  }
  50% {
  transform: scale(1.5, 1.5);
  }
  100% {
  transform: scale(1, 1);
  }
  }